<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realtimechatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivities.questions.TwiceAWeek3"></activity>
        <activity android:name=".MainActivities.questions.TwiceAWeek2" />
        <activity android:name=".MainActivities.questions.TwiceAWeek1" />
        <activity android:name=".MainActivities.questions.TwiceAWeek" />
        <activity android:name=".MainActivities.questions.EquiAnswer3" />
        <activity android:name=".MainActivities.questions.EquiAnswer2" />
        <activity android:name=".MainActivities.questions.EquiQuestion1" />
        <activity android:name=".MainActivities.questions.BothEquiAnswer" />
        <activity android:name=".MainActivities.questions.AnswerEquivalent3" />
        <activity android:name=".MainActivities.questions.AnswerEquivalent2" />
        <activity android:name=".MainActivities.questions.QuestionRate1" />
        <activity android:name=".MainActivities.questions.AnswerEquivalent1" />
        <activity android:name=".MainActivities.questions.QuestionRate" />
        <activity android:name=".MainActivities.questions.QuestionAvailability" />
        <activity android:name=".MainActivities.activities.ReportActivity" />
        <activity android:name=".MainActivities.activities.ViewFeedbacks" />
        <activity
            android:name=".MainActivities.activities.ResetPassword"
            android:parentActivityName=".MainActivities.activities.StartActivity" />
        <activity android:name=".MainActivities.questions.Question2_2_2_2_2" />
        <activity android:name=".MainActivities.questions.Question2_2_2_2" />
        <activity android:name=".MainActivities.questions.Question2_2_2" />
        <activity android:name=".MainActivities.questions.Question2_2" />
        <activity android:name=".MainActivities.activities.MentorProfile" />
        <activity android:name=".MainActivities.activities.MessageActivity" />
        <activity android:name=".MainActivities.questions.Question2_1_1_1_1_1" />
        <activity android:name=".MainActivities.questions.Question2_1_1_1_1" />
        <activity android:name=".MainActivities.questions.Question2_1_1_1" />
        <activity android:name=".MainActivities.questions.Question2_1_1" />
        <activity android:name=".MainActivities.questions.Question2_1" />
        <activity android:name=".MainActivities.questions.Question2" />
        <activity android:name=".MainActivities.questions.Question1" />
        <activity android:name=".MainActivities.activities.MenteeMainActivity" />
        <activity android:name=".MainActivities.activities.RegisterMenteeActivity" />
        <activity android:name=".MainActivities.activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MainActivities.Notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MainActivities.Notification.MyFirebaseMessagin"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>